<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<div>
    <h2>Signicat applicaton</h2>

    <button id="post">Test signing</button>
    <input type="file" accept="application/pdf" class="form-control-file" id="filetosend" multiple data-toggle="tooltip" data-placement="top" title="Chose a file from your local computer.">

    <button id="send">Test callback</button>
    
    <button id="landing">Test landingpage</button>


</div>

<script>
    var uri = 'api/SignRequest/PostCRM';

    $("#post").click(function () {

        var data = new FormData();
        var files = $("#filetosend").get(0).files;

        // Add the uploaded image content to the form data collection
        if (files.length > 0) {
            for (var x = 0; x < files.length; x++) {
                data.append("file" + x, files[x]);
            }

            data.append("SigningMetod", "4");
            //data.append("Daystolive", "");
            data.append("CustomerOrg", "org11ece0c8");
            data.append("SendSMS", 0);


            //1 //BankID
            //2 //Sms/E-mail
            //3 //Social
            data.append("Authmetod", "0");
            data.append("NotifyMe", 1);
            data.append("SenderEmail", "younes.hajji@prosesspilotene.no");
            data.append("RecipientEmails", "younes.hajji@prosesspilotene.no");
            data.append("RecipientMobiles", "48209393");

            $.ajax({
                type: "POST",
                //async: true,
                url: "http://localhost:44444/api/SignRequest/PostCRM",
                contentType: false,
                processData: false,
                data: data,
                success: function (sdsurls) {
                    $.notify("Done", 'success', {
                        clickToHide: true,
                        autoHide: false,
                        globalPosition: 'top right'
                    });
                },
                error: function (request, status, error) {
                    $.notify("Error: " + request.status, "error");
                }
            });
        }
    });

    $("#send")
        .click(function () {
            var data = {
                orgname: "org11ece0c8",
                requestId: "190120175iwfp03cymtr4718e4sgx021rf1kyphvu1gxtqayu1cnwvx7w1",
                taskId: "task_0_9511"
            };

            $.ajax({
                type: "GET",
                async: true,
                url: "http://localhost:44444/api/CallBack/GetSigning",
                data: data,
                contentType: "application/json",
                success: function () {
                    $.notify("Success!", "success");
                },
                error: function (request, status, error) {
                    $.notify("error: " + request.error + ". Status: " + request.status, {
                        clickToHide: true,
                        autoHide: false,
                        globalPosition: 'top right'
                    });
                }
            });
        });

    $("#landing").click(function () {
        var data = {
            lcid: 1044

        };
        $.ajax({
            type: "GET",
            async: true,
            url: "http://localhost:44444/api/CallBack/Landingpage",
            data: data,
            contentType: "application/json",
            success: function () {
                $.notify("Success!", "success");
            },
            error: function (request, status, error) {
                $.notify("error: " + request.error + ". Status: " + request.status, {
                    clickToHide: true,
                    autoHide: false,
                    globalPosition: 'top right'
                });
            }
        });
    });
</script>
