<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServerAddress" value="crm4.dynamics.com"/>
    <add key="OrganizationName" value="felleskjopettest"/>
    <add key="DiscoveryUri" value="https://disco.crm4.dynamics.com/XRMServices/2011/Discovery.svc"/>
    <add key="OrganizationUri" value="https://felleskjopettest.api.crm4.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="UserName" value="younes.hajji@felleskjopet.onmicrosoft.com"/>
    <add key="Password" value="Quncos17"/>
    <add key="Domain" value=""/>
    <add key="EndpointType" value="3"/>
    <add key="OrgName" value="org8b75c370"/>
    <!--<add key="ServerAddress" value="crm4.dynamics.com"/>
    <add key="OrganizationName" value="signicatdemo"/>
    <add key="DiscoveryUri" value="https://disco.crm4.dynamics.com/XRMServices/2011/Discovery.svc"/>
    <add key="OrganizationUri" value="https://signicatdemo.api.crm4.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="UserName" value="signicat.admin@signicatlab.onmicrosoft.com"/>
    <add key="Password" value="Sommer2016"/>
    <add key="Domain" value=""/>
    <add key="EndpointType" value="3"/>
    <add key="OrgName" value="org895f90d9"/>-->
    <!--<add key="ServerAddress" value="crm4.dynamics.com"/>
    <add key="OrganizationName" value="prosesspilotenelab01"/>
    <add key="DiscoveryUri" value="https://disco.crm4.dynamics.com/XRMServices/2011/Discovery.svc"/>
    <add key="OrganizationUri" value="https://prosesspilotenelab01.api.crm4.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="UserName" value="ppadmin@ProsessPiloteneLab01.onmicrosoft.com"/>
    <add key="Password" value="F49oZXypcp"/>
    <add key="Domain" value=""/>
    <add key="EndpointType" value="3"/>
    <add key="OrgName" value="org11ece0c8"/>-->
  </appSettings>
  <connectionStrings>
    <!-- Online using Office 365 -->
    <!--<add name="Server=CRM Online, organization=prosesspilotenedemo, user=younes.hajji"-->
    <!--<add name="Server=CRM Online, organization=processpilots, user=younes.hajji@prosesspilotene.no"
         connectionString="Url=https://signicatdemo.crm4.dynamics.com; 
         Username=younes.hajji@prosesspilotene.no; Password=Sommer2016; authtype=Office365"/>-->
    <!--<add name="MyCRMServer" connectionString="AuthType=Office365;Username=Username=younes.hajji@prosesspilotene.no; 
         Password=Sommer2016;Url=https://signicatdemo.crm4.dynamics.com"/>-->

    <!-- On-premises with provided user credentials -->
    <!--<add name="MyCRMServer"
        connectionString="Url=http://ppcrm2016/YounesLab/; Domain=kunder; Username=younes; Password=s002yaQpwO; authtype=AD"/>-->

    <!-- On-premises using Windows integrated security -->
    <!--<add name="MyCRMServer" connectionString="Url=http://ppcrm2016/YounesLab; authtype=AD"/>-->

    <!-- On-Premises (IFD) with claims -->
    <!--<add name="Server=litware.com, organization=contoso, user=someone@litware.com"
         connectionString="Url=https://contoso.litware.com; Username=someone@litware.com; Password=password; authtype=IFD"/>-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DocumentServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="DocumentServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://preprod.signicat.com/ws/documentservice-v3"
        binding="basicHttpBinding" bindingConfiguration="DocumentServiceSoapBinding"
        contract="SignicatPreProdService.DocumentEndPoint" name="DocumentServiceEndPointPort" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
